.wrapper{
    padding-top: 90px ;
    background-color: #fff;
    min-height: 800px;
}
.promotions{
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #f05520;
}

.promotion-item{
    background-color: rgb(5, 135, 155);
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    p{
        color: #fff;
        text-align: center;
    }
    h4{
        color: #7e5648;
        text-align: center;
    }
}

.home-product-item{
    background-color: rgba(243, 242, 242, 0.944);
    min-height: 280px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    width: 18%;
    border-radius: 5px;
    border: solid 0.5px #e1dcdc;
    margin: 0 5px 7px 5px;
    &:hover{
        box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
        transform: translateY(-1px);

    }
}
.img-product{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain; /*important cho cac buc anh lon*/
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -2;
}
.name-product{
    font-size: 1.4rem;
    font-weight: 600;
    color: #404040;
    padding: 5px 7px;
    height: 60px;
}
.price-product{
    color: #f05520;
    font-size: 1.6rem;
    text-align: right;
    padding: 0 7px;
}
.count-product{
    padding: 7px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'ProximaNova', sans-serif;
}
