.wrapper{
    width: 1150px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    min-height: 800px;
    background-color: #fff;
    h2{
        padding: 10px;
        color: #038797;
    }
}
.table{
    border-collapse: collapse;
    width: 1150px;
}
.img-item{
    width: 70px;
}
.tr_top{
    display: flex;
}
.th-top{
    flex: 1;
    text-align: center;
    border-bottom: solid 2px #333;
    text-align: center;
    padding-bottom: 5px;
}
.td{
    text-align: center;
    padding: 5px;
    width: 12.5%;
}
.group-action-one{
    display: flex;
    flex-direction: column;
}
.group-action-two{
    display: flex;
    flex-direction: column;
}
.btn-action-green{
    margin: 5px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    min-width: 140px;
    display: block;
    color: #fff !important;
    background-image: linear-gradient(0, #3a2626, #2aac43);
    &:hover{
        opacity: 0.8;
    }
}
.btn-action-add{
    text-align: center;
    height: 24px;
    line-height: 24px;
    min-width: 140px;
    display: block;
    color: #fff !important;
    margin-left: 10px;
    background-image: linear-gradient(0, #3a2626, #2aac43);
    &:hover{
        opacity: 0.8;
    }
}
.btn-confirm{
    text-align: center;
    height: 24px;
    line-height: 24px;
    width: 400px;
    display: block;
    margin-top: 10px;
    color: #fff !important;
    background-image: linear-gradient(0, #3a2626, #038797);
    &:hover{
        opacity: 0.8;
    }
}
.btn-action-red{
    background-image: linear-gradient(0, #3a2626, #f93939);
    margin: 5px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    min-width: 140px;
    display: block;
    &:hover{
        opacity: 0.8;
    }
}
.mark{
    border-bottom: solid 1px #5a8b5a;
}
.btn-delete{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff !important;
    background-color: transparent;
    font-size: 1.7rem;
    cursor: pointer;
}
.no-love{
    text-align: center;
    margin: 25px 0;
    color: #f93939;
    font-weight: 1.8rem;
}
.total{
    color: #f93939;
    font-size: 1.8rem;
}
.message{
    margin-top: 20px;
    text-align: center;
    color: #f93939;
}
.info-order{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    select{
        width: 400px;
        border: solid 1px #038797;
        border-radius: 2px;
        padding-left: 5px;
        height: 24px;
    }
    h2{
        text-align: center;
        color: #f05520;
    }
    p{
    }
}
.input{
    width: 400px;
    border: solid 1px #038797;
    border-radius: 2px;
    padding-left: 5px;
    height: 24px;
}
.form-info{
    margin-left: 350px;
}
.add-promo{
    display: flex;
}
.no-promo{
    color: #f93939;
}
.discount{
    text-decoration: line-through #0d8373;
}