.wrapper{
    padding-top: 80px;
    min-height: 700px;
    width: 1150px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    h2{
        text-align: center;
        margin-top: 15px;
        color: #038797;
    }
    h3{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #f05520;
    }
}
.action{
    display: flex;
    justify-content: center;
}
.btn-action-green{
    margin-top: 15px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    width: 200px;
    display: block;
    color: #fff !important;
    background-color: #2aac43;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.input{
    border: solid 1px rgb(41, 110, 139);
    border-radius: 2px;
    height: 24px;
    text-align: center;
    width: 100px;
}
.input-pass{
    border: solid 1px rgb(41, 110, 139);
    border-radius: 2px;
    height: 24px;
    text-align: center;
    width: 200px;
}
.btn-get-pin{
    height: 24px;
    width: 100px;
    text-align: center;
    color: #fff;
    background-color: #038797;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.span{
    color: #f05520;
    margin: 0 10px;
}